.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    width: 500px; /* Augmenter la largeur */
    max-width: 90%; /* S'assurer que la modale reste responsive */
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.close {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
}

h1 {
    font-size: 22px;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 600;
    margin-top: 10px;
    text-align: left;
    color: #333;
}

input, select {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    outline: none;
    transition: border 0.3s ease;
}

input:focus, select:focus {
    border-color: #3b82f6;
}

input[type="checkbox"] {
    width: auto;
    margin-left: 10px;
}

button {
    margin-top: 15px;
    padding: 12px;
    background: #3b82f6;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #2563eb;
}

input[type="text"] {
    width: 100%;
    max-width: 800px;
}

input[type="date"] {
    width: 100%;
    max-width: 250px;
}

.contacts-input {
    display: flex;
    align-items: center;
}

.contacts-input input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

.contacts-list {
    margin-top: 10px;
    text-align: left;
    background-color: #f4f4f4; /* Ajoute un fond gris clair */
    padding: 10px;
    border-radius: 4px;
    color: #1a1a1a;
}

.contacts-list ul {
    list-style-type: none;
    padding-left: 0;
}

.contacts-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    color: black; /* Couleur du texte en noir */
}

.remove-contact {
    color: red;
    cursor: pointer;
    font-size: 18px;
}

.categories-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}

.category-button {
    padding: 10px 15px;
    border: 2px solid #007bff;
    background: white;
    color: #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.category-button:hover {
    background: #007bff;
    color: white;
}

.category-button.selected {
    background: #007bff;
    color: white;
}






