.footer {
    background-color: #1a1a1a; /* Fond sombre */
    color: #ffffff; /* Texte blanc */
    padding: 15px 0;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Sépare les éléments */
    align-items: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
}

.footer-text, .footer-subtext {
    margin: 5px 0;
    font-size: 14px;
}

.button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end; /* Aligne les boutons à droite */
    gap: 10px;
    padding-right: 20px;
}
